<!-- 
<mat-card class="movie-card">
  <div class="movie-card-content">
    <div class="movie-image">
      <img src="https://media.themoviedb.org/t/p/w440_and_h660_face/sgv6nwj1TlDDKqxbcUEuds8fqoz.jpg"
        alt="A Quiet Place: Day One">
    </div>
    <div class="movie-details">
      <mat-card-header class="movie-card-header">
        <mat-card-title class="movie-card-title">
          <a routerLink="">A Quiet Place: Day One (2024)</a>
        </mat-card-title>
        <mat-card-subtitle class="movie-card-subtitle">
          <span>PG-13 </span>
          <span>06/28/2024 (US) </span>
          <span>
            •
            <a routerLink="">
              Horror, 
            </a>
            <a routerLink="">
              Science Fiction, 
            </a>
            <a routerLink="">
              Thriller
            </a>          
          </span>
          <span>• 1h 39m</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-movie-actions></app-movie-actions>
        <p class="overview-title">Hear how it all began.</p>
        <p class="overview">Overview</p>
        <p>As New York City is invaded by alien creatures who hunt by sound, a woman named Sam fights to survive with
          her cat.</p>
        <app-crew-lists></app-crew-lists>
        <div>
          <p>Story</p>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
 -->
