<mat-card class="card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="overlay">
        <mat-card-content>
            <div class="rating-container">
                <mat-progress-spinner class="rating-spinner" [value]="61" mode="determinate" diameter="50"
                    strokeWidth="5"></mat-progress-spinner>
                <div class="rating-text">61%</div>
            </div>
        </mat-card-content>
    </div>
    <div class="text-container">
        <h2 class="title" style="color: black;">Família é Tudo</h2>
        <p class="date" style="color: black;">Mar 04, 2024</p>
    </div>
</mat-card>