<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="TMDB Logo">
      <div class="footer-user">
        <p><b>Hi Riajul_Alam!</b></p>
      </div>
    </div>
    <div class="footer-links">
      <div class="footer-section">
        <h3>THE BASICS</h3>
        <p>About TMDB</p>
        <p>Contact Us</p>
        <p>Support Forums</p>
        <p>API</p>
        <p>System Status</p>
      </div>
      <div class="footer-section">
        <h3>GET INVOLVED</h3>
        <p>Contribution Bible</p>
        <p>Add New Movie</p>
        <p>Add New TV Show</p>
      </div>
      <div class="footer-section">
        <h3>COMMUNITY</h3>
        <p>Guidelines</p>
        <p>Discussions</p>
        <p>Leaderboard</p>
      </div>
      <div class="footer-section">
        <h3>LEGAL</h3>
        <p>Terms of Use</p>
        <p>API Terms of Use</p>
        <p>Privacy Policy</p>
        <p>DMCA Policy</p>
      </div>
    </div>
  </div>
</mat-toolbar>