/* .movie-carousel-card-items{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
} */
/* .movie-card-section{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
} */
/* .temp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .temp{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */