
.searchbar-container{
    width: 100%;
    height: 35%;
    padding: 30px 40px;
}

.searchbar-content {
    width: 95%;
}

.search-input input{
    height: 1.5rem;
    width: 90%;
    border: none !important;
    border-radius: 25px;
    font-size: 14px;
    padding: 10px 20px;
}

.search-input input:focus{
    outline: none;
    box-shadow: none;
}

.search-input input::placeholder{
    font-size: 16px;
    opacity: 0.5;
}
.search-input button{
    background-color: rgb(65, 212, 212);
    color: white;
    height: 2.8rem;
    width: 100px;
    border-radius: 1.5rem;
    margin-left: -4rem;
}

.searchbar-title h3{
    line-height: 1;
    margin: 0;
}
.searchbar-title{
    margin-bottom: 20px;
}

/* In the context of Angular modules, a singleton refers to a service or object that is instantiated only once during the lifetime of an application⁠
1
⁠. Singleton services are typically used for functionality that needs to be shared across the entire app, such as authentication services⁠ */