
<div class="searchbar-container" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'
 }">
    <div class="searchbar-content">
        <div class="searchbar-title">
            <h3 style="color: aliceblue;">Welcome.</h3>
            <h3 style="color: aliceblue;">Millions of movies, TV shows and people to discover. Explore now.</h3>
        </div>
        <div class="search-input">
            <input matInput placeholder="Search for a movie, TV show, person...">
            <button mat-flat-button>Search</button>
        </div>
    </div>
</div>

