
<mat-toolbar color="primary" class="tmdb-header">
  <a routerLink="/home">
    <img
      src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
      alt="TMDB Logo" class="logo">
  </a>
  <app-custom-dropdown-menu>
    <button  mat-button trigger >Movies</button>
    <div content class="dropdown-menu">
      <button mat-menu-item (click)="onClick('movie','popular')">Popular</button>
      <button mat-menu-item (click)="onClick('movie','now_playing')">Now Playing</button>
      <button mat-menu-item (click)="onClick('movie','upcoming')">Upcoming</button>
      <button mat-menu-item (click)="onClick('movie','top_rated')">Top Rated</button>
    </div>
  </app-custom-dropdown-menu>

  <app-custom-dropdown-menu>
    <button  mat-button trigger >TV Shows</button>
    <div content class="dropdown-menu">
      <button mat-menu-item (click)="onClick('tv','popular')">Popular</button>
      <button mat-menu-item (click)="onClick('tv','airing_today')">Airing Today</button>
      <button mat-menu-item (click)="onClick('tv','on_tv')">On TV</button>
      <button mat-menu-item (click)="onClick('tv','top_rated')">Top Rated</button>
    </div>
  </app-custom-dropdown-menu>

  <app-custom-dropdown-menu>
    <button  mat-button trigger >People</button>
    <div content class="dropdown-menu">
      <button mat-menu-item (click)="onClick('person','popular')">Popular People</button>
    </div>
  </app-custom-dropdown-menu>

  <app-custom-dropdown-menu>
    <button  mat-button trigger >More</button>
    <div content class="dropdown-menu">
      <button mat-menu-item (click)="onClick('person','popular')">Discussions</button>
      <button mat-menu-item (click)="onClick('person','popular')">Leaderboard</button>
      <button mat-menu-item (click)="onClick('person','popular')">Support</button>
      <button mat-menu-item (click)="onClick('person','popular')">API</button>
    </div>
  </app-custom-dropdown-menu>

  <span class="spacer"></span>
  <div class="nav-icon">
    <button mat-icon-button [matMenuTriggerFor]="addMovieMenu">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #addMovieMenu="matMenu" class="custom-menu-panel">
      <button mat-menu-item class="custom-menu-item">Add New Movie</button>
      <button mat-menu-item class="custom-menu-item">Add New TV Show</button>
    </mat-menu>
    <button mat-icon-button>
      <mat-icon class="language-icon">language</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="profile-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="search-icon">search</mat-icon>
    </button>
  </div>
</mat-toolbar>