.tmdb-header {
    background-color: #032541;
    color: white;
    height: 60px;
}

.logo {
    height: 20px;
    width: 164px;
}

.spacer {
    flex: 1 1 auto;
}
.dropdown-menu{
    min-width: 170px;
}


mat-toolbar button {
    color: white;
    font-size: 18px;
    /* margin-right: 5px; */
    padding-right: 10px;
    padding-bottom: 5px;
}

.profile-button {
    background-color: #21d07a;
    border-radius: 50%;
}


.custom-menu-panel {
    background-color: #f6f6f6 !important;
}

.custom-menu-item {
    width: 170px !important;
    background-color: #f6f6f6 !important;
}

.search-icon {
    color: #01b4e4;
    font-size: 30px;
}

.nav-icon button {
    margin-right: 20px;
}

  
/* Search */


.temp{
    color: white;
    font-size: 18px;
    margin-right: 5px;
}
.temp button{
    color: white !important;
}
.mat-button:hover, 
.mat-raised-button:hover, 
.mat-flat-button:hover, 
.mat-stroked-button:hover {
  box-shadow: none; /* Removes the shadow */
  background-color: inherit; /* Keeps the background color unchanged */
}
