.tmdb-header {
    background-color: #032541;
    color: white;
    height: 75px;
}

.logo {
    height: 20px;
    width: 164px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar button {
    color: white;
    font-size: 20px;
    margin-right: 5px;

}

.profile-button {
    background-color: #21d07a;
    border-radius: 50%;
}


.custom-menu-panel {
    background-color: #f6f6f6 !important;
}

.custom-menu-item {
    width: 170px !important;
    background-color: #f6f6f6 !important;
}

.search-icon {
    color: #01b4e4;
    font-size: 30px;
}

.nav-icon button {
    margin-right: 20px;
}

  
/* Search */
