


.home-searchbar {
    background-color: #006c9c;
    padding: 30px 40px;
}

.home-search{
    width: 100%;
}
.home-search-input{
    width: 90%;
}


.input-inside-search {
    color: #f1f1f1 !important;
    background-color: #9c0041 !important;
    /* width: 100px; */
    /* height: 58px !important; */
    position: fixed;
}

