

<app-search></app-search>
<!-- Trending Movies -->
<div class="trending-movies-container">
  <app-movie-carousel [title]="'Trending'">
    <div class="button-container trending-movies-button-content">
      <button mat-button (click)="toggleTrendingMovies()"
        [ngClass]="!defaultSelectedTrendingMovies ? 'textColor' : 'defaultColor'">Today</button>
      <button mat-button (click)="toggleTrendingMovies()"
        [ngClass]="defaultSelectedTrendingMovies ? 'textColor' : 'defaultColor'">This Week</button>
      <div class="selected" [ngClass]="defaultSelectedTrendingMovies ?  'p-right': 'p-left'"></div>
    </div>
    <ng-content></ng-content>
  </app-movie-carousel>
</div>