

<div class="home-searchbar">
    <div class="home-searchbar-title">
      <h3>Welcome.</h3>
      <h3>Millions of movies, TV shows and people to discover. Explore now.</h3>
    </div>
    <div class="home-search">
        <mat-form-field appearance="fill" class="home-search-input">
          <input  matInput placeholder="Search for a movie, TV show, person...">
        </mat-form-field>
        <button mat-button  matSuffix [ngClass]="'input-inside-search'">Search</button>
      </div>
</div>
